*{
   margin:0;
   padding:0;
   box-sizing: border-box; 
}
html,body{
    height:100%;
    overflow:hidden;
}

.carousel{
    height:100%;
}

.carousel-inner{
    height:100%;
}
.carousel .carousel-item{
    height:100%;
}

.first{
    height:60%;
    background-color: aquamarine;
}
.second{
    height:40%;
    background-color:blue;
    color:white;
    justify-content:start;
}
.first-01 {
    height: 50%;
    background-color: aquamarine;
}

.second-01 {
    height: 50%;
    background-color: blue;
    color: white;
    justify-content: start;
}

.text-1{
    padding-top:60px;
    margin-left: 20px;
    font-weight:600;
}

.img-2-1{
width:50%;
height:300px;
position: absolute;
bottom:40%;

    margin-left:-10px;
    object-fit: cover;
    object-position: 10% 90px;
   
    
    

    
}
.img-2-2 {
width:50%;
    position: absolute;
margin-top: -15px;
    height: 300px;
    margin-left: 180px;
    object-fit: cover;
    object-position: 0 100%;
}

.pizza{
    width:80px;
 height:30px;
 object-fit: cover;
 
    position: absolute;
    top: 0;
    left:0;
}

.vemi-1{
    width:180px;
    position: absolute;
    top:0;
    left:180px;

}
.vemi-2{
    position: absolute;
    width:180px;
    bottom:40%;
    
}

.five-1{
width:40%;
height:300px;
position: absolute;
top:-100px;

}
.five-2{
width:40%;
height:50%;
position: absolute;
bottom:40%;
left:0px;
object-fit: cover;
object-position:25% 130px;
}
.five-3{
    position: absolute;
width:45%;
height:50%;
left:40%;
margin-top:-15px;

}

.five-4
{
width:45%;
margin-left: 40%;
height:140px;
position: absolute;
object-fit: cover;
object-position:25% 60px;
bottom:40%;
}
.five-5{
width:40%;
height:300px;
position: absolute;
left:81%;


bottom:40%;
}

.six{
position: relative;

width:100%;
    height:100%;
    left:-30px;

   
}


.first-1{
width:230px;
height:60%;
position: absolute;
object-fit:cover;
top:-40px;
object-position: 78% 110px;

}

.first-2{
   width:230px;
   height:57%;
   position: absolute;
   right:0;
bottom:40%;
   object-fit: cover;
   object-position: 35% 50px;
 z-index:0;

   
}
.first-3{
    width:250px;
    left:5%;
    position:absolute;
    bottom: 35%;
    z-index:2;
    border: 5px solid purple;
}

.seven-1{
    position: absolute;
    width:205px;
    height:50%;
    object-position: 25% 150px;
    left:120px;
    z-index:0;

}
.seven-2{
    position: absolute;
    width:205px;
height:50%;
left:5px;
z-index:1;
    width:50%;
    object-position: 25% 120px;
    bottom:50%;
}
.seven-3{
    width:200px;
    left:5%;
    z-index:2;
    position:absolute;
    bottom: 44%;
}

.four-1 {
    position: absolute;
width:100px;
top:-10px;

}

.four-2 {
    width: 180px;
    position:absolute;
    bottom:40%;
    object-position: 25% 90px;

}

.four-3 {
    width: 180px;
    position: absolute;
    height: 50%;
    left:160px;
    top:-30px;


    
}

.four-4 {
    width: 180px;
    position: absolute;
    bottom:40%;
    left:160px;
    object-position: 25% 50px;

}

.four-5 {
    width: 100px;
    position: absolute;
    right:-50px;
    top:-100px;
}

.four-6 {
    width: 100px;
    position: absolute;
    top:200px;
    right:-50px;


}

.four-7 {
    width: 100px;
    position: absolute;
    bottom:40%;
    right:-50px;
}
@media(max-width:360px)
{
  .first-1 {
      width: 200px;
 
      position: absolute;
      top:-38px
      

  }

  .first-2 {
      width: 200px;
  
      position: absolute;
      top:px;


  }
  .first-3{
      width:200px;
  }
 .seven-1 {
     position: absolute;
     width: 205px;
     height: 50%;
     object-position: 25% 120px;
     left: 120px;
     z-index: 0;

 }
 

 .seven-2 {
     position: absolute;
     width: 205px;
     height: 50%;
     left: 5px;
     z-index: 1;
     width: 50%;
     object-position: 25% 90px;
     bottom: 50%;
 }

 .seven-3 {
     width: 200px;
     left: 5%;
     z-index: 2;
     position: absolute;
     bottom: 43%;
 }
}
@media(max-width:320px) {
    .first-1 {
      position: absolute;
      
      right:150px;

object-position: 25% 100px;
top:-5%;


    }

    .first-2 {
        
   position: absolute;
   
        
   

    }
    .first-3 {
        width: 200px;
        left: 5%;
        position: absolute;
        bottom: 35%;
    }

    .four-1 {
        position: absolute;
        width: 100px;
        top: -10px;

    }

    .four-2 {
        width: 150px;
        position: absolute;
        bottom: 40%;
        object-position: 25% 90px;

    }

    .four-3 {
        width: 180px;
        position: absolute;
        height: 45%;
        left: 130px;
        top: -30px;



    }

    .four-4 {
        width: 180px;
        position: absolute;
        bottom: 40%;
        left: 130px;
        object-position: 25% 50px;

    }

    .four-5 {
        width: 100px;
        position: absolute;
        right: -50px;
        top: -100px;
    }

    .four-6 {
        width: 100px;
        position: absolute;
        top: 150px;
        right: -60px;


    }

    .four-7 {
        width: 100px;
        position: absolute;
        bottom: 40%;
        right: -50px;
    }
}

li{
    width:1%;
}